#overlay {
    position: fixed;
    z-index: 10;
    background: black;
    display: block;
    opacity: .30;
    filter: alpha(opacity=75);
    width: 100%;
    height: 100%;
}

select > .placeholder {
  display: none;
}

#main {
    background-image: url(grass-and-the-sky-background.jpg);
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    
}

/*http://crunchify.com/create-new-cool-previous-next-navigation-button-for-wordpress-blog/*/

button#arrowLeft {
    width: 5%;
    position: fixed;
    z-index: 100;
    left: -5px;
    top: 45%;
    padding: 15px 10px;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}
 
button#arrowLeft:hover {
    left: 0;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    color: #fff;
}
 
button#arrowRight {
    width: 5%;
    position: fixed;
    z-index: 100;
    right: -5px;
    top: 45%;
    padding: 15px 10px;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}
 
button#arrowRight:hover {
    right: 0;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    color: #fff;
}

div#wrapperApp {
    margin-bottom:  0px;
}