/*To make RENEW div hidden*/
div.ddh {
    display: none;
}

div#aid{
    float:right;
    width:30%;  
    padding: 5px;

} 
/*Style for the div where to drop image in the question*/
div#div1 {   
    max-width: 350px;
    max-height: 350px;
    visibility: hidden;
}
/*Style for images*/
#pid{
    max-width: 40%;
    max-height: auto;
    margin-bottom: 2rem;
}


/*Button for deleting div*/
a#delDiv{
    top: -20px;
    right: -20px;
    position: absolute;
    font-size: 1.375rem;
}
