.notifyjs-corner {
  min-width: 20% !important;
}

div.hideDiv {
    display: none;
}

textarea#aid {
    padding: 0.5rem;
}

textarea#dropExplanation {
    position: absolute;
    top: 100%;
    padding: 0.5rem;
    right: 0px;
    z-index: 1;
    visibility: hidden;
}

a#explanationSimbol{
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Style for images*/
img#pid{
    max-width: 40%;
    max-height: auto;
    min-height: 10px;
    margin-bottom: 1.25rem;
    float: left;
}

/*To make RENEW div hidden*/
div.ddh {
    display: none;
}

/*Changed style for Question div*/
div.qid{
    padding-right: 0.2rem; 
    padding-bottom: 0rem;
}

#dropExplanation{
    max-height: auto;
    min-height: 10px;
}


/*Button for deleting div*/
a#delDiv{
    font-size: 1rem; 
    position: absolute; 
    right: 0px; 
    top: -10px
}

/*Button to drag exercise */
a.dragExercise {
    font-size: 1rem; 
    position: absolute; 
    right: 20px; 
    top: -10px;
    -ms-transform: rotate(45deg)!important;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

div#_pageDiv {
    background-color: white; 
    padding: 5px;
}

div#pName {
    padding: 0.5rem;
    background-color: #f3f3f3;
    font-size: 0.875rem;
    line-height: normal;
    min-height: 35px;
}

div.qid:hover, div#pName:hover {
    border-color: #999999;
}

div.qid:focus, div#pName:focus{
    border-color: #999999;
}